In [65]:
import pandas as pd
import numpy as np
from google.cloud import bigquery
import os, json

In [66]:
#https://www.anycodings.com/1questions/4113004/can-you-load-json-formatted-data-to-a-bigquery-table-using-python-and-loadtablefromjson

In [67]:
def format_schema(schema):
    formatted_schema = []
    for row in schema:
        formatted_schema.append(bigquery.SchemaField(row['name'], row['type'], row['mode']))
    return formatted_schema

In [68]:
df = pd.DataFrame([[1, 'Jeff'],[2, 'John'],[3, 'HearToo'],[4, 'Dictx'],[5, 'HearToo2']],columns=['id', 'name'])

df

   id      name
0   1      Jeff
1   2      John
2   3   HearToo
3   4     Dictx
4   5  HearToo2

In [69]:
json_data = df.to_json(orient = 'records')
json_object = json.loads(json_data)
json_object

[{'id': 1, 'name': 'Jeff'},
 {'id': 2, 'name': 'John'},
 {'id': 3, 'name': 'HearToo'},
 {'id': 4, 'name': 'Dictx'},
 {'id': 5, 'name': 'HearToo2'}]

In [70]:
table_schema = {'name': 'id','type': 'INTEGER','mode': 'REQUIRED'}, {'name': 'name','type': 'STRING','mode': 'REQUIRED'}

In [71]:
table_id='pongthorn.SMartDW.personal_info'
client  = bigquery.Client()

In [72]:
job_config = bigquery.LoadJobConfig()
job_config.source_format = bigquery.SourceFormat.NEWLINE_DELIMITED_JSON
job_config.schema = format_schema(table_schema)

In [73]:
job_config.schema

[SchemaField('id', 'INTEGER', 'REQUIRED', None, (), None),
 SchemaField('name', 'STRING', 'REQUIRED', None, (), None)]

In [62]:
job = client.load_table_from_json(json_object, table_id, job_config = job_config)

In [63]:
print(job.result())

LoadJob<project=pongthorn, location=us-central1, id=879764bf-32ab-4b57-8c66-58b9a2b4ab6f>