In [23]:
from google.cloud import bigquery
import pandas as pd
from sklearn.model_selection import train_test_split

In [24]:
df=pd.read_csv("data/ML_Incident_20230316.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2143 entries, 0 to 2142
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   severity_id                2143 non-null   int64
 1   severity_name              2143 non-null   object
 2   sla                        2143 non-null   object
 3   product_type               2143 non-null   object
 4   brand                      2143 non-null   object
 5   service_type               2143 non-null   object
 6   incident_type              2143 non-null   object
 7   open_to_close_hour         2143 non-null   float64
 8   response_to_resolved_hour  2143 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 150.8+ KB

In [25]:
df['label_multi_severity'] =df['severity_name'].map({'Cosmatic':0,'Minor': 1, "Major": 2, "Critical": 3}) 
def map_4to2_serverity(severity_id):
    if severity_id==1 or severity_id==2:
       return 1
    else:
       return 0 
df['label_binary_severity'] =df['severity_id'].apply(map_4to2_serverity)

In [14]:
df.head()

,severity_id,severity_name,sla,product_type,brand,service_type,incident_type,open_to_close_hour,response_to_resolved_hour,label_multi_severity,label_bianry_severity
0,1,Critical,24x7 4Hrs Response Time,Server,HPE,Incident,Network Card Failure,28.933333,25.833333,3,1
1,2,Major,24x7 4Hrs Resolution Time,Server,HPE,Incident,Memory Failure,4.816667,4.600000,2,1
2,2,Major,24x7 4Hrs Resolution Time,Server,HPE,Incident,Hard Disk Drive Failure,3.883333,2.666667,2,1
3,2,Major,24x7 4Hrs Resolution Time,Storage,HPE,Incident,Hard Disk Drive Failure,5.600000,5.000000,2,1
4,2,Major,24x7 4Hrs Resolution Time,Hardware,Oracle,Incident,General Incident,14.000000,13.500000,2,1

In [26]:
len_all=len(df)
print(f"All Data = {len_all}")

train, val = train_test_split(df,test_size=0.2,random_state=1000,shuffle=True)
val,test = train_test_split(val, test_size=0.5,random_state=1000,shuffle=True)

len_all=len(df)
len_train=len(train)
len_val=len(val)
len_test=len(test)
print(f'{len_train} =train examples ({round(len_train/len_all*100,1)}%)')
print(f'{len_val} =val examples ({round(len_val/len_all*100,1)}%)')
print(f'{len_test} =test examples ({round(len_test/len_all*100,1)}%)')

All Data = 2143
1714 =train examples (80.0%)
214 =val examples (10.0%)
215 =test examples (10.0%)

In [27]:
print(df['label_multi_severity'].unique())
print(df['label_binary_severity'].unique())

[3 2 1 0]
[1 0]

In [28]:
train.to_csv("data/train_incident.csv",index=False)
val.to_csv("data/validation_incident.csv",index=False)
test.to_csv("data/test_incident.csv",index=False)