In [28]:
import pandas as pd

# Numberic Value

In [29]:
worker=[ [1,'john',25,5000,2],[2,'tom',35,8000,15],[3,'peter',2,15,30] ]
dfWorker=pd.DataFrame(data=worker,columns=['id','name','age','salary_base_dollar','year_experience'])
dfWorker

   id   name  age  salary_base_dollar  year_experience
0   1   john   25                5000                2
1   2    tom   35                8000               15
2   3  peter    2                  15               30

In [30]:
from sklearn.preprocessing import StandardScaler
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
numCols=['age','salary_base_dollar','year_experience']
scaler = StandardScaler()
dfWorker.loc[:, numCols] = scaler.fit_transform(dfWorker[numCols])

print(scaler.mean_)
print(scaler.var_)

dfWorker

[  20.66666667 4338.33333333   15.66666667]
[1.90888889e+02 1.08456056e+07 1.30888889e+02]

   id   name       age  salary_base_dollar  year_experience
0   1   john  0.313640            0.200915        -1.194569
1   2    tom  1.037425            1.111865        -0.058272
2   3  peter -1.351066           -1.312780         1.252841

In [31]:
incidnt=[ [1,'Storage','Incident',24,16,2,1],[2,'Storage','Incident',168,150,3,2],
         [3,'Software','Incident',720,70,2,3],[5,'Server','Request',2160,2000,1,0] ]
dfIncidnt=pd.DataFrame(data=incidnt,columns=['id','product_type','service_type',
                                             'open_to_close_hour','response_to_resolved_hour','count_detail','label_severity'])
dfIncidnt

,id,product_type,service_type,open_to_close_hour,response_to_resolved_hour,count_detail,label_severity
0,1,Storage,Incident,24,16,2,1
1,2,Storage,Incident,168,150,3,2
2,3,Software,Incident,720,70,2,3
3,5,Server,Request,2160,2000,1,0

In [32]:
numCols=['open_to_close_hour','response_to_resolved_hour','count_detail']
scaler = StandardScaler()
dfIncidnt.loc[:, numCols] = scaler.fit_transform(dfIncidnt[numCols])

print(scaler.mean_)
print(scaler.var_)

dfIncidnt[['id']+numCols]

[768. 559.   2.]
[7.13376e+05 6.94433e+05 5.00000e-01]

   id  open_to_close_hour  response_to_resolved_hour  count_detail
0   1           -0.880874                  -0.651605      0.000000
1   2           -0.710382                  -0.490804      1.414214
2   3           -0.056831                  -0.586805      0.000000
3   5            1.648086                   1.729214     -1.414214

# Cate Value

In [33]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [34]:
cateCols=['product_type','service_type']
for cate  in cateCols: 
   print(f"{cate} ={dfIncidnt[cate].unique()}")

product_type =['Storage' 'Software' 'Server']
service_type =['Incident' 'Request']

In [35]:
categorical_transformer = OneHotEncoder(sparse_output=False, handle_unknown="ignore")
ct = ColumnTransformer(transformers=[("", categorical_transformer,cateCols )],remainder='drop',)
ct.set_output(transform='pandas')
dfIncidntCate = ct.fit_transform(dfIncidnt)
dfIncidntCate

,__product_type_Server,__product_type_Software,__product_type_Storage,__service_type_Incident,__service_type_Request
0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,1.0

# LabeL: {0: 'Cosmatic', 1: 'Minor', 2: 'Major', 3: 'Critical'}

In [39]:
import tensorflow as tf
print(dfIncidnt['label_severity'].unique())

[1 2 3 0]

In [41]:
#dictNameToLabel={'Cosmatic':0,'Minor':1, 'Major':2, 'Critical':3}
dictLabelName={0: 'Cosmatic', 1: 'Minor', 2: 'Major', 3: 'Critical'}
labels  = tf.keras.utils.to_categorical(dfIncidnt['label_severity'], num_classes=len(dfIncidnt['label_severity'].unique()))
label_cols=[ f"label_{key}" for key,value in dictLabelName.items() ]

dfLabels=pd.DataFrame(data=labels,columns=label_cols)
dfLabels

   label_0  label_1  label_2  label_3
0      0.0      1.0      0.0      0.0
1      0.0      0.0      1.0      0.0
2      0.0      0.0      0.0      1.0
3      1.0      0.0      0.0      0.0

In [ ]:
# from sklearn.preprocessing import LabelEncoder

# cateCols=['product_type','service_type']
# cateFeatEncoder = LabelEncoder()
# for col in cateCols:
#  dfIncidnt[col]=cateFeatEncoder.fit_transform(dfIncidnt[col])
# dfIncidnt