In [19]:
from google.cloud import bigquery
import pandas as pd
import numpy as np
from datetime import datetime

In [20]:
projectId='smart-data-ml'
table_id = f"{projectId}.SMartDW.incident"

client = bigquery.Client(project=projectId)

In [21]:
def load_data_bq(sql:str):
 client_bq = bigquery.Client()
 query_result=client_bq.query(sql)
 df_all=query_result.to_dataframe()
 return df_all

In [22]:
sql_all=f"""
SELECT  id,updated_at,imported_at,
severity_id,severity_name,
count_detail,sla,
product_type,brand,service_type,incident_type,
open_datetime,  close_datetime, response_datetime,resolved_datetime

FROM `{table_id}` 
where id=2575
order by imported_at 
"""
#order by imported_at
df=load_data_bq(sql_all)
df=df.drop_duplicates(subset=['id'],keep='last')
df

,id,updated_at,imported_at,severity_id,severity_name,count_detail,sla,product_type,brand,service_type,incident_type,open_datetime,close_datetime,response_datetime,resolved_datetime
5,2575,2023-04-01 23:57:38,2023-04-02 00:05:04.558089,2,Major,1,24x7 6Hrs Resolution Time,Software,YIP,Incident,Software,2023-03-31 12:00:00,2023-04-01 23:30:00,2023-03-31 13:30:00,2023-04-01 23:00:00