In [48]:
from google.cloud import bigquery
import pandas as pd
import json

from datetime import date,datetime,timedelta

In [49]:
table_id = "pongthorn.SMartML.new_incident"
mapping_file="incident_sevirity_to_class.json"
PATH_FOLDER_ARTIFACTS="model"
unUsedColtoPredict=['severity','id','severity_id','severity_name','imported_at']

In [50]:

with open(mapping_file, 'r') as json_file:
     map_sevirity_to_class= json.load(json_file)
print(map_sevirity_to_class)

{'Cosmatic': 0, 'Minor': 1, 'Major': 2, 'Critical': 3}

In [51]:
# Get today's date
today = date.today()
# Yesterday date
yesterday = today - timedelta(days = 1)
str_today=today.strftime('%Y-%m-%d')
str_yesterday=yesterday.strftime('%Y-%m-%d')
print(f"Get data between {str_yesterday} to {str_today} to predict sevirity level")

Get data between 2023-03-27 to 2023-03-28 to predict sevirity level

In [52]:
def load_data_bq(sql:str):
 client_bq = bigquery.Client()
 query_result=client_bq.query(sql)
 df=query_result.to_dataframe()
 return df

In [53]:
sql=f"""
SELECT *  FROM `{table_id}` 
WHERE DATE(imported_at) >= '{str_yesterday}' and DATE(imported_at) < '{str_today}'  
LIMIT 5
"""

dfNewData=load_data_bq(sql)
dfNewData=dfNewData.drop_duplicates(subset=['id'],keep='first')

dfNewData.insert(2, 'severity', dfNewData['severity_name'].map(map_sevirity_to_class),True)


print(dfNewData.info())
dfNewData

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5 non-null      Int64
 1   severity_id                5 non-null      Int64
 2   severity                   5 non-null      int64
 3   severity_name              5 non-null      object
 4   sla                        5 non-null      object
 5   product_type               5 non-null      object
 6   brand                      5 non-null      object
 7   service_type               5 non-null      object
 8   incident_type              5 non-null      object
 9   open_to_close_hour         5 non-null      float64
 10  response_to_resolved_hour  5 non-null      float64
 11  imported_at                5 non-null      datetime64[ns]
dtypes: Int64(2), datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 530.0+ bytes
None

,id,severity_id,severity,severity_name,sla,product_type,brand,service_type,incident_type,open_to_close_hour,response_to_resolved_hour,imported_at
0,2452,2,2,Major,24x7 4Hrs Response Time,Server,HPE,Incident,Software,4.500000,4.0,2023-03-27 05:27:08.968019
1,2517,2,2,Major,24x7 4Hrs Resolution Time,Server,HPE,Incident,Memory Failure,6.166667,6.0,2023-03-27 05:27:08.968019
2,2519,2,2,Major,24x7 4Hrs Resolution Time,Server,HPE,Incident,Hard Disk Drive Failure,7.166667,7.0,2023-03-27 05:27:08.968019
3,2518,2,2,Major,24x7 4Hrs Resolution Time,Server,HPE,Incident,Hard Disk Drive Failure,7.166667,7.0,2023-03-27 05:27:08.968019
4,2520,2,2,Major,24x7 4Hrs Resolution Time,Server,HPE,Incident,Hard Disk Drive Failure,7.166667,7.0,2023-03-27 05:27:08.968019

In [54]:
model = tf.keras.models.load_model(PATH_FOLDER_ARTIFACTS)    
print(f"Load from {PATH_FOLDER_ARTIFACTS}")
print(model.summary())

Load from model
Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 sla (InputLayer)               [(None, 1)]          0           []

 product_type (InputLayer)      [(None, 1)]          0           []

 brand (InputLayer)             [(None, 1)]          0           []

 service_type (InputLayer)      [(None, 1)]          0           []

 incident_type (InputLayer)     [(None, 1)]          0           []

 open_to_close_hour (InputLayer  [(None, 1)]         0           []
 )

 response_to_resolved_hour (Inp  [(None, 1)]         0           []
 utLayer)

 string_lookup_1 (StringLookup)  (None, 1)           0           ['sla[0][0]']

 string_lookup_2 (StringLookup)  (None, 1)           0           ['product_type[0][0]']

 string_lookup_3 (StringLookup)  (None, 1)           0           ['brand[0][0]']

 string_lookup_4 (StringLookup)  (None, 1)           0           ['service_type[0][0]']

 string_lookup_5 (StringLookup)  (None, 1)           0           ['incident_type[0][0]']

 normalization_1 (Normalization  (None, 1)           3           ['open_to_close_hour[0][0]']
 )

 normalization_2 (Normalization  (None, 1)           3           ['response_to_resolved_hour[0][0]
 )                                                               ']

 category_encoding_1 (CategoryE  (None, 7)           0           ['string_lookup_1[0][0]']
 ncoding)

 category_encoding_2 (CategoryE  (None, 10)          0           ['string_lookup_2[0][0]']
 ncoding)

 category_encoding_3 (CategoryE  (None, 21)          0           ['string_lookup_3[0][0]']
 ncoding)

 category_encoding_4 (CategoryE  (None, 3)           0           ['string_lookup_4[0][0]']
 ncoding)

 category_encoding_5 (CategoryE  (None, 22)          0           ['string_lookup_5[0][0]']
 ncoding)

 concatenate_1 (Concatenate)    (None, 65)           0           ['normalization_1[0][0]',
                                                                  'normalization_2[0][0]',
                                                                  'category_encoding_1[0][0]',
                                                                  'category_encoding_2[0][0]',
                                                                  'category_encoding_3[0][0]',
                                                                  'category_encoding_4[0][0]',
                                                                  'category_encoding_5[0][0]']

 dense_2 (Dense)                (None, 32)           2112        ['concatenate_1[0][0]']

 dropout_1 (Dropout)            (None, 32)           0           ['dense_2[0][0]']

 dense_3 (Dense)                (None, 4)            132         ['dropout_1[0][0]']

==================================================================================================
Total params: 2,250
Trainable params: 2,244
Non-trainable params: 6
__________________________________________________________________________________________________
None